<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage Trucks</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="AddEmployee()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>License Plate</th>
            <th>Color</th>
            <th>Brand</th>
            <th>Year Model</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let truck of truckList" class="center-align">
            <td>{{ truck.licensePlate }}</td>
            <td>{{ truck.color }}</td>
            <td>{{ truck.brand }}</td>
            <td>{{ truck.yearModel }}</td>
            <td>
              <a href="#" [routerLink]="['/EditEmployee/', truck.licensePlate]" class="btn"><i class="fa fa-edit edit"></i></a>
              <button type="button" (click)="deleteTruckConfirmation(truck)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
            </td>
          </tr>
          <tr>
            <td *ngIf="truckList.length == 0" colspan="6">No Employee Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>